body{
background-color:#ffffff;
background-color:#111;
color:#333;
color:#ffffff;
font-family: 'Cousine';
padding-top:30px;
padding-left:200px;
letter-spacing:2px;
    height:3000px;
}

a{
color:#3eb489;
color:#00ff14;
text-decoration:none;
margin-top:200px;
font-weight:;
}

a:hover{
    text-decoration:underline;
}


::-webkit-scrollbar {
    width: 8px;margin-right:24px;position:fixed;z-index:99999;
}
 
::-webkit-scrollbar-track {

    border-radius: 0px;
    background-color:#111; /* eggshell f0ead6 */
    z-index:99999;
  

}
 
::-webkit-scrollbar-thumb {
    border-radius: 20%;cursor:pointer;background-color:#21a559;/*sitegreen*/
    /*border:3px solid #ff406d;opacity:0.3;z-index:99999;*/
    background:#00ff14;

}


@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {

body {

padding-top:20px;
padding-left:20px !important;    
padding-right:20px;  
padding-bottom:35px;
  }
}      
      
    