body{
padding:0 auto;
margin:0 auto;
width:100%;height:auto;
font-family: 'Roboto Condensed', sans-serif;
background-color:#eaeaea;
overflow-x:hidden !important;
color:#2D3F50;
position:relative;
}



#header{
    background:url(images/site/black-logo3.png) no-repeat bottom center,         
    url(images/site/colorbg-db.jpg)  !important;
    background-size:170px, 196px !important;
     border-bottom:2px solid white;
   z-index:50;
    background:#815BFF !important;
    background:#333 !important;
    background:#007467 !important;
    border-bottom:1px solid white;
 
}

#menu {
background:url(images/site/colorbg2.png);    
}

div.fixtext{
position:fixed;
width:100%;
z-index:;    
top:55px;    
}

h2.basic{
display:none;
}

div.main{
position:relative;
padding-top:23px;   
height:auto; 
padding-bottom:70px;
/*padding-left:10%;*/
/*padding-right:10%;*/
margin-top:300px;
background-color:#eaeaea;
z-index:25;
}

div.main2{
position:relative;
padding:0 auto;
height:auto; 
background-color:#eaeaea;
z-index:99;
padding-top:40px;
padding-bottom:100px;
}


p.separator {
    height: 0;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #FFFFFF;

}


p.separator2 {
    height: 0;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #FFFFFF;
    margin-top:10px;
    margin-bottom:10px;
}

div.mealpic{
width:300px;
height:300px;
border-radius:10px;
background:url(images/foods/lasg.jpg);
background-size:100% 100%;
-webkit-box-shadow: 0px 5px 17px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 17px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 17px 0px rgba(50, 50, 50, 0.75);
}




div.mealbg{
/*    
position:fixed;
background:#333;
height:300px;
margin-bottom:300px;
z-index:20;
width:100%;
*/
width:100%;
padding:0 auto;
margin:0 auto;
position:fixed;top:0;
background:url(images/foods/lasg.jpg);
background-size:100% 100%;
background-position:fixed;
text-align:center;

padding-top:3em; 
height:400px;
    
color:white;text-shadow:2px 2px #333;
font-size:34pt;
line-height:100px;opacity:1 !important;
}

div.mealbgcover{

width:100%;
padding:0 auto;
margin:0 auto;
position:fixed;top:0;
background:rgba(5,5,5,0.8);
background-size:100% 100%;
background-position:fixed;
text-align:center;
padding-top:3em; 
height:400px;
color:white;text-shadow:2px 2px #333;
font-size:34pt;
line-height:100px;  

}


.covertext{
width:100%;
padding:0 auto;
margin:0 auto;
position:fixed;top:0;
background:red;
background-size:100% 100%;
background-position:fixed;
text-align:center;
padding-top:3em; 
height:400px;
z-index:90;
color:white;text-shadow:2px 2px #333;
font-size:34pt;
line-height:100px;  
opacity:1 !important;
}
    
div.footer2{
position:relative;
height:100px;
color:black;
background:url(images/site/colorbg2.png) ;
background:url(images/site/foodbg4.png) ;
background:url(images/site/colorbg-blue.jpg) ;
background-size:245px;    
background-color:black;
padding-top:70px;
padding-bottom:170px;
font-weight:bold;
z-index:9999;
width:65%;
}

div.footer2 p{
padding:4px 10px;
background-color:white;display:inline-block;
    border:2px solid #333;

}

div.footer2 a{
    color:white !important;font-weight:bold;
    background-color:#ff406d;padding:4px 10px;margin-bottom:20px;display:inline-block;
   border-radius:5px;
    border:2px solid transparent;
transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
}

div.footer2 a:hover{
text-decoration:none;
color:#ff406d !important;
background-color:#ffffff;

transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
    
}

a.random{
color:#00a569;
text-decoration:none;
}

a.random:hover{
    text-decoration:underline;
}

img.cornerlogo{
top:-55px;
position:relative;
/*left:15px;*/
z-index:10;
height:55px;

}

.imagecenter{
width:100%;
position:fixed;
z-index:100;
}

div.themeimg{
width:100%;
padding:0 auto;
margin:0 auto;
position:fixed;top:0;
background:   url(images/large/overlay.png) , 
    url(images/foods/lasg.jpg) no-repeat fixed;
    background-size:100% 400px !important;    
background-position:fixed;
text-align:center;
    
/*background-size:100% 400px;
background-repeat:no-repeat;  */
margin-top:-3em; 
height:400px;
}

div.themeimg h1{
font-size:36pt;
letter-spacing:4px;
color:white;
text-align:center;
text-shadow:2px 2px #222;
padding:0 auto;
margin:0 auto;
padding-top:150px;
position:relative;
    z-index:0;
}

div.spacerx{
margin-left:0 auto;    
margin-right:0 auto;    
}

a.cats{
color:#007467;
text-decoration:none;   
}

a.cats:hover{
text-decoration:underline;    
    
}


a.cats2{
color:#007467;
text-decoration:none;   
float:right;margin-right:55px;
font-style: italic;
}

a.cats2:hover{
text-decoration:underline;    
    
}


a.hearl{
border-radius:5px;
display:inline-block;
width:200px;
text-align:center;
background-color:#007467;
text-decoration:none;
color:white;
padding-top:5px;
padding-bottom:5px;
cursor:pointer;
transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;    
        
}


a.hearl:hover{
background-color:#2a9084;
transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;        
    
}


a.hearl:active{
background-color:#007467;
transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;        
    
}


span.st_twitter_custom{

border-radius:5px;
display:inline-block;
width:150px;
text-align:center;
background-color:#4099FF;
text-decoration:none;
color:white;
padding-top:5px;
padding-bottom:5px;
cursor:pointer;
transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;    
            
}

span.st_twitter_custom:hover{
background-color:#60aaff;

transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;    
}

span.st_twitter_custom:active{
background-color:#4099FF;

}



span.st_facebook_custom{
 border-radius:5px;
display:inline-block;
width:150px;
text-align:center;
background-color:#3D62B3;
text-decoration:none;
color:white;
padding-top:5px;
padding-bottom:5px;
cursor:pointer;
transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;    
       
}


span.st_facebook_custom:hover{
background-color:#5471b1;

transition: all .2s ease;    
-webkit-transition: all .2s ease;    
-moz-transition: all .2s ease;    
-o-transition: all .2s ease;    
}

span.st_facebook_custom:active{
  background-color:#3D62B3;
  
}

img.mealpic{
width:300px;
height:300px;
border-radius:10px;
background-size:100% 100%;
-webkit-box-shadow: 0px 5px 17px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 17px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 17px 0px rgba(50, 50, 50, 0.75);
}


.menubt{
position:absolute;
bottom:40px;
text-align:center;
width:auto;
padding:0 auto;
margin:0 auto;
width:100%;
padding-left:0;
left:50%;    
margin-left:-50%;
}

.menubt{
position:absolute;
bottom:40px;
text-align:center;
width:auto;
padding:0 auto;
margin:0 auto;
width:100%;
padding-left:0;
left:50%;    
margin-left:-50%;
}



.cntnt{
border:5px solid transparent;  
width:60%;
margin-left:45px;
/*border-right:2px solid #2D3F50;*/
}

.cntnt h1{
margin-left:25px; font-weight:lighter;   
}
b{
color:#2D3F50;
    
}

div.tabporcategories{
display:none;    
/*margin-left:45px;*/
/*margin-right:45px;*/
}

.rightbox{
float:right;
margin-right:45px;
border:3px solid #e6e6e6;
background-color:white;
border-radius:10px;
border-radius:0px;
height:auto;
width:30%;
padding-left:55px;
padding-right:25px;
margin-top:25px;
 padding-bottom:25px;   
    
  height:610px;overflow-y:scroll;  
    
/* overflow-y:scroll;position:fixed;left:65%;  height:300px;  */

}

.rightbox h1{
    text-align:;
}




.fixbox{
float:right;
margin-right:45px;
border:3px solid #e6e6e6;
background-color:white;
border-radius:10px;
border-radius:0px;
height:auto;
width:30%;
padding-left:55px;
padding-right:25px;
margin-top:25px;
padding-bottom:25px;   
margin-top:25px; 
 
    
    
      height:610px;overflow-y:scroll;  

}

.fixbox h1{
font-weight:lighter;
}

table.mtbl{
width:100%;
border:2px solid transparent;
}

td{
border:2px solid transparent;
width:50%;
}

td:nth-child(1) {
border-right:2px solid #2D3F50;
border-right:2px solid #d1d0d0;
 box-shadow:         2px 0px 0px 0px rgba(255, 255, 255, 1); 
 
}

td:nth-child(2) {
padding-left:40px;
}

ul,ol{

    
}

/*
ol, ul{
text-align:left;
margin-left:20%;    
margin-right:20%;    
}
*/



::selection {

    background: #007467;color:white;

}



::-moz-selection {

    background: #007467;color:white;

}



/*- ------------------------------ scrollbar ---------------------------*/

::-webkit-scrollbar {
    width: 8px;margin-right:24px;position:fixed;z-index:99999;
}
 
::-webkit-scrollbar-track {

    border-radius: 0px;
    background-color:#444; /* eggshell f0ead6 */
    z-index:99999;
  

}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;cursor:pointer;background-color:#21a559;/*sitegreen*/
    /*border:3px solid #ff406d;opacity:0.3;z-index:99999;*/
    background: -webkit-linear-gradient(top, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);

}









/*- ------------------------------ scrollbar ---------------------------*/

.fixbox::-webkit-scrollbar {
    width: 10px;margin-right:24px;position:fixed;z-index:99999;
}
 
.fixbox::-webkit-scrollbar-track {

    border-radius: 0px;
    background-color:#b5b5b5; /* eggshell f0ead6 */
    z-index:99999;
  

}
 
.fixbox::-webkit-scrollbar-thumb {
    border-radius: 0px;cursor:pointer;background-color:#21a559;/*sitegreen*/
    /*border:3px solid #ff406d;opacity:0.3;z-index:99999;*/
    background:#007467;

}




































/*-------------------------------------------------------------------------------------------------*/

