html{
font-family: 'Signika', sans-serif;    
}
body{
background-color:#FFF;    
padding:0auto;
margin:0 auto;
font-family: 'Signika', sans-serif;
}

.slidefront{
width:100%;
height:700px;
}

.frontsection{
position:fixed;
z-index:9999;
top:205px;
text-align:center;
margin-left:40%;
margin-right:35%;
text-shadow:2px 2px rgba(5,5,5,0.6);;
letter-spacing:1px;
font-size:14pt;font-weight:300;
}


.about{
    background:white;
    background:url(images/site/foodbg3.png);
    height:auto;
    padding:0 auto;
    margin:0 auto;
    z-index:99999 !important;
    position:relative;
    top:700px;color:#2D3F50;letter-spacing:2px;
    padding-bottom:0px;
}

a.link{
    color:#ff406d;
    text-decoration:none;
    cursor:pointer;
}

a.link:hover{
    text-decoration:underline;
}

.burgerbox{
width:500px;    
}

h1.brink{
font-size:26pt;
margin-left:-2px;
}

a.whodis{
border:2px solid rgba(255,255,255,0.2);    
background-color:rgba(255,255,255,0.05);
color:white;
border-radius:4px;
text-decoration:none;
padding:10px 25px;
font-weight:light;
text-shadow:none;
letter-spacing:4px;
cursor:pointer;
    
transition:all .3s ease;    
-webkit-transition:all .3s ease;    
-moz-transition:all .3s ease;    
-o-transition:all .3s ease;    
}

a.whodis:hover{
background-color:rgba(255,255,255,.1);
color:;

transition:all .3s ease;    
-webkit-transition:all .3s ease;    
-moz-transition:all .3s ease;    
-o-transition:all .3s ease;    
}

a.whodis:active{
position:relative;
top:4px;
}

h1.basic{
font-weight:300;
color:#333;
letter-spacing:2px;
text-transform:capitalize;
text-align:center;
font-size:22pt;
}


.getit{
position:fixed;
z-index:9999;
top:35px;
text-align:center;right:0;
float:right;margin-right:25px;
    
text-shadow:2px 2px rgba(5,5,5,0.6);
letter-spacing:1px;
font-size:14pt;font-weight:300;
}


.getit a{
border:2px solid rgba(255,255,255,0.09);
background-color:rgba(255,255,255,0.09);
text-decoration:none;
font-weight:300;
text-shadow:none;
letter-spacing:3px;
font-size:11pt;
width:200px;
height:35px;line-height:35px;
display:block;
transition:all .3s ease;    
-webkit-transition:all .3s ease;    
-moz-transition:all .3s ease;    
-o-transition:all .3s ease;      
}


.getit a:hover{
background-color:rgba(255,255,255,0.15);
background-color:rgba(255,255,255,0);
border:2px solid rgba(33, 165, 89, 0.4);  
}


.getit a:nth-child(2) {
margin-top:10px;   
background-color:rgba(5,5,5,0.3);
}

.getit a:nth-child(2):hover {
border-color:#ff406d;
}

div.hiw1{
background-color:#21a559;
border-radius:5px;
padding:10px 15px;

}


.hiw2{
background-color:#f42e2e;
border-radius:5px;
padding:10px 15px;

}


div.hiw3{
background-color:#572c0d;
border-radius:5px;
padding:10px 15px;

}


div.hiw4{
background-color:#c18f4d;
border-radius:5px;
padding:10px 15px;

}

div.circleblue{
background-color:#71e7f7;
border-radius:100%;
padding:10px 15px;   
}

div.circlepink{
background-color:#f771b4;
border-radius:100%;
padding:10px 15px;   
}

div.circleyellow{
background-color:#71f79a;
border-radius:100%;
padding:10px 15px;   
}

table.hiwks{
font-size:16pt;    
}

td.myrte{
padding-left:15px;
padding-right:15px;
}

td.myrte2{
padding-left:5px;
padding-right:5px;
}



div.ball1{
background-color:#21a559;  
height:20px;width:20px;
border-radius:100%;
}

div.ball2{
background-color:#f42e2e;  
height:20px;width:20px;
border-radius:100%; 
}

div.ball3{
background-color:#845517;
height:20px;width:20px;
border-radius:100%;
}

div.ball4{
background-color:#c18f4d;    
height:20px;width:20px;
border-radius:100%;
}


table.desc{
width:40%;
border:2px solid red;
}

.spacer{
padding-left: 22%;    
padding-right: 22%;   
font-size:14pt;
}


.spacer2{
padding-left: 15%;    
padding-right: 15%;   
}

/*------------------------------- hamburger---------------------------*/




div.burgerbuntop{
   
    width:250px;
    height:40px;
    background:url(images/site/sesame.png);
     background-color:#be8e50;
     background-color:#d3984e;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

div.lettuce{
    background-color:#50be65;
    height:8px;
    width:250px;
    border-radius:5px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

div.ketchup{
 background-color:#ef3232;
    border-radius:5px;
    height:8px;
    width:250px;   
}

div.cheese{
 background-color:#efb532;
    border-radius:5px;
    height:8px;
    width:250px;   
}

div.patty{
 background-color:#6f5129;
    border-radius:7px;
    height:25px;
    width:250px;   
}


div.burgerbunbottom{
    background-color:#d3984e;
    width:250px;
    height:30px;
    border-radius:10px;
}

div.instructions{
font-size:16pt;    
}
div.white{
height:400px;
    background-color:white;z-index:9999999;position:relative;
}
/*----------------------------hamburger end -------------------------------*/

.tcb {
    width: 100%;
    height: 8px;position:fixed;top:0px;z-index:999999;
    background: -webkit-linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: -ms-linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: -moz-linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: -o-linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: -webkit-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: -webkit-linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);
    background-image: linear-gradient(left, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);  
}





/*- ------------------------------ scrollbar ---------------------------*/

::-webkit-scrollbar {
    width: 8px;margin-right:24px;position:fixed;z-index:99999;
}
 
::-webkit-scrollbar-track {

    border-radius: 0px;
    background-color:#444; /* eggshell f0ead6 */
    z-index:99999;
  

}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;cursor:pointer;background-color:#21a559;/*sitegreen*/
    /*border:3px solid #ff406d;opacity:0.3;z-index:99999;*/
    background: -webkit-linear-gradient(top, #21a559 10%, #21a559 25%, #f42e2e 10%, #f42e2e 50%, #845517 10%, #845517 75%, #c18f4d 10%, #c18f4d 100%);

}

